
#img3 {
    width: 180px;
    margin-bottom : -15px;

}
H1 {
     text-align: center;
     color: black

}
body {
    background-color: rgba(240, 255, 255, 0.805);
    font-family: 'serif';
    color: rgb(70, 59, 57);
}